@font-face {
  font-family: 'comfortaa-light';
  src: url(../fonts/Comfortaa-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'comfortaa-regular';
  src: url(../fonts/Comfortaa-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'comfortaa-bold';
  src: url(../fonts/Comfortaa-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@keyframes ball-triangle-path-1 {
  33% {
    transform: translate(25px, -50px); }
  66% {
    transform: translate(50px, 0px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-2 {
  33% {
    transform: translate(25px, 50px); }
  66% {
    transform: translate(-25px, 50px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-3 {
  33% {
    transform: translate(-50px, 0px); }
  66% {
    transform: translate(-25px, -50px); }
  100% {
    transform: translate(0px, 0px); } }

.ball-triangle-path {
  display: none;
  right: 50px;
  top: calc(50% + 5px);
  position: absolute;
  transform: translate(-29.994px, -37.50938px); }

.ball-triangle-path > div:nth-child(1) {
  animation-name: ball-triangle-path-1;
  animation-delay: 0;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

.ball-triangle-path > div:nth-child(2) {
  animation-name: ball-triangle-path-2;
  animation-delay: 0;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

.ball-triangle-path > div:nth-child(3) {
  animation-name: ball-triangle-path-3;
  animation-delay: 0;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

.ball-triangle-path > div {
  animation-fill-mode: both;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #fff;
  background: #fff; }

.ball-triangle-path > div:nth-of-type(1) {
  top: 50px; }

.ball-triangle-path > div:nth-of-type(2) {
  left: 25px; }

.ball-triangle-path > div:nth-of-type(3) {
  top: 50px;
  left: 50px; }

html, body {
  height: 100vh; }

body {
  font-family: 'comfortaa-regular', cursive;
  margin: 0; }
  @media (max-width: 1024px) {
    body {
      font-size: 16px; } }
  @media (min-width: 1024px) and (max-width: 1280px) {
    body {
      font-size: 20px; } }
  @media (min-width: 1280px) and (max-width: 1400px) {
    body {
      font-size: 24px; } }
  @media (min-width: 1400px) and (max-width: 1600px) {
    body {
      font-size: 26px; } }
  @media (min-width: 1600px) {
    body {
      font-size: 28px; } }

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .main .left-bar,
  .main .right-bar {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
    width: 20em;
    padding: 0 .8em; }
  .main .left-bar {
    align-content: center; }
  .main .right-bar {
    position: relative;
    overflow: hidden;
    width: calc(100vw - 20em); }
  .main .first,
  .main .second {
    font-size: 2.7em;
    text-align: right; }
  .main .second {
    margin: 0 0 .8em; }
  .main .time,
  .main .date {
    font-size: 4.8em;
    margin: .2em 0 0;
    line-height: 1; }
  .main .date {
    font-size: 2em; }
  .main .currency-block-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 10000;
    min-width: 12em;
    padding: 1.2em 0 0; }
  .main .currency-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin: 0 0 1em;
    line-height: 1; }
    .main .currency-block.loading .ball-triangle-path {
      display: inline-block; }
    .main .currency-block.loading .currency-wrap i,
    .main .currency-block.loading .currency-wrap span,
    .main .currency-block.loading .currency {
      display: none; }
    .main .currency-block img {
      height: 100%; }
    .main .currency-block i, .main .currency-block span {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      vertical-align: top;
      justify-content: center;
      font-size: 2em; }
    .main .currency-block .currency-wrap {
      position: relative;
      min-width: 4em;
      font-size: 2em;
      height: 2em;
      vertical-align: top; }
    .main .currency-block .currency-abbr-wrap {
      flex-direction: column;
      min-width: 1.1em; }
      .main .currency-block .currency-abbr-wrap i {
        font-size: .65em;
        margin: 0 0 .1em; }
      .main .currency-block .currency-abbr-wrap .currency-abbr {
        font-size: .25em; }
    .main .currency-block .after-trend {
      position: absolute;
      display: none;
      font-size: 1em; }
  .main h1,
  .main h2,
  .main span {
    font-size: .5em;
    text-align: center;
    margin: 0;
    color: #fff; }
  .main h1 {
    font-size: 1em; }

.bg-setings {
  position: absolute;
  flex-direction: column;
  align-self: flex-end;
  margin: .8em 0 0;
  width: calc(100% - 1.6em);
  height: auto; }
  .bg-setings.is-active .btn span {
    background: #34495e; }
    .bg-setings.is-active .btn span:nth-child(1), .bg-setings.is-active .btn span:nth-child(4) {
      top: 14px;
      width: 0%;
      left: 50%; }
    .bg-setings.is-active .btn span:nth-child(2) {
      transform: rotate(45deg); }
    .bg-setings.is-active .btn span:nth-child(3) {
      transform: rotate(-45deg); }
  .bg-setings .btn {
    position: absolute;
    right: 0;
    font-size: 0;
    display: inline-block;
    width: 32px;
    height: 32px;
    z-index: 1;
    cursor: pointer; }
    .bg-setings .btn span {
      position: absolute;
      display: inline-block;
      width: 22px;
      height: 4px;
      margin: 0;
      left: 5px;
      background: white;
      transform: rotate(0deg);
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .bg-setings .btn span:nth-child(1) {
        top: 5px; }
      .bg-setings .btn span:nth-child(2), .bg-setings .btn span:nth-child(3) {
        top: 14px; }
      .bg-setings .btn span:nth-child(4) {
        top: 23px; }
  .bg-setings .seting-content {
    position: relative;
    display: inline-block;
    min-width: calc(100% - 20px);
    padding: 32px 10px;
    right: calc(-100% - .8em);
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    color: #34495e;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .bg-setings .seting-content.is-active {
      right: 0; }
    .bg-setings .seting-content p, .bg-setings .seting-content h2, .bg-setings .seting-content h3 {
      margin: 0;
      color: #34495e; }
    .bg-setings .seting-content h2 {
      font-size: 1.5em;
      text-align: left; }
    .bg-setings .seting-content h3 {
      margin: 0 0 .5em; }
      .bg-setings .seting-content h3 span {
        color: #34495e;
        font-size: 1em; }
      .bg-setings .seting-content h3 a {
        font-size: 1em;
        color: #3498db; }
        .bg-setings .seting-content h3 a:hover {
          color: #2e8ece; }
    .bg-setings .seting-content .date-list,
    .bg-setings .seting-content .time-list,
    .bg-setings .seting-content .currency-list {
      margin: 0 0 1em; }
    .bg-setings .seting-content .setting-currency-item {
      display: inline-block;
      margin: 0 20px 0 0; }
      .bg-setings .seting-content .setting-currency-item:hover {
        cursor: pointer; }
        .bg-setings .seting-content .setting-currency-item:hover span {
          color: rgba(0, 0, 0, 0.9); }
      .bg-setings .seting-content .setting-currency-item input {
        display: none; }
      .bg-setings .seting-content .setting-currency-item .checkbox {
        display: inline-block;
        width: 1.1em;
        text-align: left;
        font-size: 1.2em; }
      .bg-setings .seting-content .setting-currency-item span {
        display: inline-block;
        font-size: 1em;
        color: #34495e;
        vertical-align: top; }
