html {
  height: 100vh;
}
body {
  @extend html;
  font-family: 'comfortaa-regular', cursive;
  margin: 0;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @include min_desktop {
    font-size: 16px;
  }
  @include desktop1 {
    font-size: 20px;
  }
  @include desktop2 {
    font-size: 24px;
  }
  @include desktop3 {
    font-size: 26px;
  }
  @include max_desktop {
    font-size: 28px;
  }
}
.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  .left-bar,
  .right-bar {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
    width: 20em;
    padding: 0 .8em;
  }
  .left-bar {
    align-content: center;
  }
  .right-bar {
    position: relative;
    overflow: hidden;
    width: calc(100vw - 20em);
  }
  .first,
  .second {
    font-size: 2.7em;
    text-align: right;
  }
  .second {
    margin: 0 0 .8em;
  }
  .time {
    font-size: 4.8em;
    margin: .2em 0 0;
    line-height: 1;
  }
  .currency-block-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 10000;
    min-width: 12em;
    padding: 1.2em 0 0;
  }
  .currency-block {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin: 0 0 1em;
    line-height: 1;
    &.loading {
      .ball-triangle-path {
        display: inline-block;
      }
      .currency-wrap i,
      .currency-wrap span,
      .currency {
        display: none;
      }
    }
    img {
      height: 100%;
    }
    i,span {
      @include flexbox();
      vertical-align: top;
      justify-content: center;
      font-size: 2em;
    }
    .currency-wrap {
      position: relative;
      min-width: 4em;
      font-size: 2em;
      height: 2em;
      vertical-align: top;
    }
    .currency-abbr-wrap {
      flex-direction: column;
      min-width: 1.1em;
      i {
        font-size: .65em;
        margin: 0 0 .1em;
      }
      .currency-abbr {
        font-size: .25em;
      }
    }
  }
  h1,
  span {
    font-size: .5em;
    text-align: center;
    margin: 0;
    color: #fff;
  }
  h1 {
    font-size: 1em;
  }
}
.bg-setings {
  position: absolute;
  flex-direction: column;
  align-self: flex-end;
  margin: .8em 0 0;
  width: calc(100% - 1.6em);
  height: auto;
  &.is-active {
    .btn {
      span {
        background: #34495e;
        &:nth-child(1),
        &:nth-child(4) {
          top: 14px;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
  .btn {
    position: absolute;
    right: 0;
    font-size: 0;
    display: inline-block;
    width: 32px;
    height: 32px;
    z-index: 1;
    cursor: pointer;
    span {
      position: absolute;
      display: inline-block;
      width: 22px;
      height: 4px;
      margin: 0;
      left: 5px;
      background: white;
      transform: rotate(0deg);
      @include transition();
      &:nth-child(1) {
        top: 5px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 14px;
      }
      &:nth-child(4) {
        top: 23px;
      }
    }
  }
  .seting-content {
    position: relative;
    display: inline-block;
    min-width: calc(100% - 20px);
    padding: 32px 10px;
    right: calc(-100% - .8em);
    background: rgba(255, 255, 255 , .7);
    border-radius: 5px;
    color: #34495e;
    @include transition();
    &.is-active {
      right: 0;
    }
    p, h2, h3 {
      margin: 0;
      color: #34495e;
    }
    h3 {
      margin: 0 0 1em;
      span {
        color: #34495e;
        font-size: 1em;
      }
      a {
        font-size: 1em;
        color: #3498db;
        &:hover {
          color: #2e8ece;
        }
      }
    }
    .currency-list {
      margin: 0 0 1em;
    }
    .setting-currency-item {
      display: inline-block;
      margin: 0 20px 0 0;
      &:hover {
        cursor: pointer;
        span {
          color: rgba(0, 0, 0 , .9);
        }
      }
      input {
        display: none;
      }
      .checkbox {
        display: inline-block;
        width: 1.1em;
        text-align: left;
        font-size: 1.2em;
      }
      span {
        display: inline-block;
        font-size: 1em;
        color: #34495e;
        vertical-align: top;
      }
    }
  }
}
