html {
  height: 100vh;
}
body {
  @extend html;
  font-family: 'comfortaa-regular', cursive;
  margin: 0;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @include min_desktop {
    font-size: 16px;
  }
  @include desktop1 {
    font-size: 20px;
  }
  @include desktop2 {
    font-size: 24px;
  }
  @include desktop3 {
    font-size: 26px;
  }
  @include max_desktop {
    font-size: 28px;
  }
}
.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  .left-bar,
  .right-bar {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
    width: 17em;
    padding: 0 .8em;
  }
  .left-bar {
    align-content: center;
  }
  .right-bar {
    justify-content: flex-end;
    width: calc(100vw - 17em);
  }
  .first,
  .second {
    font-size: 2.7em;
    text-align: right;
  }
  .second {
    margin: 0 0 .8em;
  }
  .time {
    font-size: 5em;
    margin: .2em 0 0;
    line-height: 1;
  }
  .currency-block-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 10000;
    min-width: 12em;
    padding: 1.2em 0 0;
  }
  .currency-block {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin: 0 0 1em;
    line-height: 1;
    &.loading {
      .ball-triangle-path {
        display: inline-block;
      }
      .currency-wrap i,
      .currency-wrap span,
      .currency {
        display: none;
      }
    }
    img {
      height: 100%;
    }
    i,span {
      display: inline-block;
      vertical-align: top;
      font-size: 2em;
    }
    .currency-wrap {
      position: relative;
      display: inline-block;
      min-width: 4em;
      font-size: 2em;
      height: 2em;
      vertical-align: top;
    }
  }
  h1,
  span {
    font-size: .5em;
    text-align: center;
    margin: 0;
    color: #fff;
  }
  h1 {
    font-size: 1em;
  }
}
